@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}
header{
    /* background: rgba(255, 144, 14, 0.10); */
    width: 100%;

}

.btn-primary{
color: #FFF;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 500;
border-radius: 31px;
background: #E02C6D;
width: 170px;
height: 54px;
margin-bottom: 30px;
cursor: pointer;
border: 0;
    
}
.btn-primary:hover{
    color: #b27e42;
}

.nav-container{
    
/* background: rgba(255, 144, 14, 0.10); */
padding: 50px 200px;
display: flex;
justify-content: space-between;
align-items: center;
/* margin-left: 40px; */


}
.nav-title{
    font-size: 2rem;
    font-weight: 700;
    color:#131313 ;
}
nav ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-right: 30px;

}
nav li a{
    text-decoration: none;
    color: var(--dark-02, #424242);
text-align: center;

font-size: 1rem;
font-style: normal;
font-weight: 200;
}

/* banner related style */
.banner{
    padding: 10px;
    display: flex;

}
.banner-container{
    text-align: center;
    padding: 20px;
    max-width: 700px;

    
}
.banner-title{
color: var(--dark-01, #131313);
text-align: center;
font-size: 50px;
font-style: normal;
font-weight: 700;

}
.banner-desc{
    color: var(--dark-03, #727272);
text-align: center;

font-size: 16px;
font-style: normal;
font-weight: 400;

}
.banner-img{
    /* width: 100%; */
    background-image: url("../images/Circle\ design.svg");
    padding: 30px;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom:30px ;
    background-repeat: no-repeat;
}
.sponsors-img-container{
    margin-top:  30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);

}
.sponsors-img-container img{
    width: 90px;
}



.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* gap: 10px; */
    margin-left: 50px;
    align-items: center;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    justify-content: center;
    text-align: center;

}
/* .cards:hover{
    color:antiquewhite;
} */
.card-img{
    width:350px ;
    height: 400px;
    padding: 30px;
    
}
.collection-container{
    padding: 30px;
    margin-top: 70px;
}
.collection-title{
    text-align: center;
    padding-bottom: 30px;
}

/* feature related style */

.feature-img{
    padding: 20px;
    background: none;
    /* width: 504px;
    height: 770px; */

}
.feature{
    display: flex;
    margin: 30px;
    margin-left: 50px;
    /* align-items: center; */
    justify-content: center;
}
.feature-title{
    color: #0A0826;

font-size: 38px;
font-style: normal;
font-weight: 700;

}
.footer-container{
    background-color: darkgrey;
    color: rgb(15, 17, 19);
    text-align: center;
    height: 30vh;
    padding-top: 30px;
    margin: 0 auto;
}
.footer-title{
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}
.last{
    font-size: 15px;
    padding-top: 30px;
    
    
}






@media screen and (max-width: 576px) {
    .nav-container,
    nav ul,
    
    .sponsors-img-container 
    {

        flex-direction: column;
    }
    .banner,
    .feature{
        flex-direction: column-reverse;
    }
    header{
        padding: 50px;
    }
    .nav-container{
        padding: 20px;
        margin-left: 0px;
    }
    .nav ul{
        text-align: center;
    }
    .nav-title {
        font-size: 1rem;
        font-weight: 700;}


    .banner-title {
        font-size: 1.1rem;  } 
    .banner-desc{
        margin: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .banner-img{
     margin-left: 0;
     padding: 0;

    }
    .sponsors-img-container{
        text-align: center;
        padding: 20px;
    }
    .cards{
        grid-template-columns: 1fr;

    }
    .feature-title{
        font-size: 1.1rem;
    }
    .footer-title{
        font-size: 1.1rem;

    }


    

    }
    @media screen  and (min-width:576px) and (max-width: 960px){
        header{
            padding:50px;
            width: 100%;
        }
        .banner,
        .sponsors-img-container,
        .feature,
        .nav-container{
            flex-direction: column;
        }

        .banner-title ,
        .feature-title{
            font-size: 1.5rem;  } 
        

        
        
        .cards{
            grid-template-columns: 1fr;
    
        }

        
    }
    